/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body{
    background-image: url('../static/fondo.png'); /* Ruta a tu imagen */
    background-size: cover; /* La imagen se ajustará manteniendo las proporciones y cubriendo el área */
    background-repeat: no-repeat; /* La imagen no se repetirá */
}

*{
    font-family: 'Cinzel', serif;
}

/* Agrega estilos adicionales según sea necesario */
h1 {
    color: white; /* Cambia el color del texto según el fondo */
}

.card, h1{
    background: rgba(0, 0, 0, 0.5) !important; /* Ajusta el valor alfa (cuarto valor) según sea necesario para la transparencia */
    backdrop-filter: blur(10px) !important; /* Ajusta el valor de desenfoque según sea necesario */
  }
